[submodule "deps/VulkanMemoryAllocator"]
    path = Dependencies/VulkanMemoryAllocator
    url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "deps/glfw"]
    path = Dependencies/glfw
    url = https://github.com/glfw/glfw.git
[submodule "deps/imgui"]
    path = Dependencies/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "deps/glm"]
    path = Dependencies/glm
    url = https://github.com/g-truc/glm.git
[submodule "deps/tinygltf"]
    path = Dependencies/tinygltf
    url = https://github.com/syoyo/tinygltf.git
[submodule "deps/stb"]
    path = Dependencies/stb
    url = https://github.com/nothings/stb.git
[submodule "Dependencies/imnodes"]
    path = Dependencies/imnodes
    url = https://github.com/Nelarius/imnodes.git
[submodule "Dependencies/filesystem"]
    path = Dependencies/filesystem
    url = https://github.com/gulrak/filesystem.git
[submodule "Dependencies/Format.cmake"]
    path = Dependencies/Format.cmake
    url = https://github.com/TheLartians/Format.cmake.git
[submodule "Dependencies/ImGuizmo"]
    path = Dependencies/ImGuizmo
    url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Dependencies/volk"]
	path = Dependencies/volk
	url = https://github.com/zeux/volk.git
